.header {
    text-align: center;
    margin: 1px;
    overflow: hidden;
    padding: 10px 10px;
    background-color: darkgray;
}
.nav {
    text-align: center;
    margin: 1px;
    overflow: hidden;
    padding: 10px 10px;
    background-color: darkgray;
}
.footer {
    text-align: center;
    margin: 1px;
    overflow: hidden;
    padding: 10px 10px;
    background-color: darkgray;
}
.grid-container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    place-items: center;
    grid-template-rows: 10% 10% ;
    letter-spacing: 1px;
    grid-template-areas: 
    "logo nav nav"
    "header content advert"
    "footer footer";
}
.grid-item {
    text-align: justify;
    padding: 10px;
    display: grid;
    margin: 1px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
