html,
body {
    align-content: center;
    align-items: center;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    padding: 20px 20px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
}

.card {
  padding: 1px;
  background-color: #fff;
  box-shadow: 0 1px 2px 1px rgba(54, 52, 52, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.grid {
  padding: 1px;
  background-color: #fff;
  background: linear-gradient(115deg, #4a60e0 10%, #ecde0e 90%);
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.grid-item {
  height: 550px; /*optional*/
  flex-basis: 20%; /* initial percantage */
  -ms-flex: auto;
  width: 259px; /*optional*/
  position: relative;
  padding: 10px; /*optional*/
  box-sizing: border-box;
}
@media(max-width: 1333px) {/*xl*/
.grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {/*lg*/
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {/*md*/
.grid-item {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {/*sm*/
.grid-item {
    flex-basis: 100%;
  }
}
.container {
  max-width: 1335px;
  margin: 0 auto;
}