html {
    background-color: rgb(156, 154, 154);
    padding: 1px;
}
body {
    align-content: center;
    align-items: center;
    display: flex;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container {
  margin-right: auto;
  margin: 0 auto;
  flex-direction: row;
}
.row {
    display: flex;
    flex-wrap: wrap;
	  margin-right: -15px;
    margin-left: -15px;
}

.wrapper {
  background-color: rgb(221, 208, 31);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
}

.card {
  padding: 1px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.grid-item {
  height: 550px; /*optional*/
  flex-basis: 20%; /* initial percantage */
  -ms-flex: auto;
  width: 259px; /*optional*/
  position: relative;
  padding: 10px; /*optional*/
  box-sizing: border-box;
}
@media(max-width: 1333px) {/*xl*/
.grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {/*lg*/
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {/*md*/
.grid-item {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {/*sm*/
.grid-item {
    flex-basis: 100%;
  }
}
