.responsiva{
  	margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

@media (min-width: 600px) and (max-width: 800px){
    .responsiva{
        width: 100%;
    }
}

@media (min-width: 799px){
    .responsiva {
        width: 100%;
    }
}
html {
    background-color: antiquewhite;
}